/*******************ESTILOS__WEB*********************/

html, body
{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Trebuche MS', Arial, Verdana, serif;
    font-size: 12px;
    color: #666;
    line-height: 140%;
    /*bwackground-color: rgba(0, 0, 0, 0.81);*/

}

a
{
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}

.debug{border:1px solid red;}
.mouse{cursor:pointer;}
.max_size{height:100%;width:100%;}
.cliping{overflow:hidden;}
.centrar_h{margin: 0 auto;}
.centrar_h&v{}
.centrar_v{}
.vis_hidden{visibility:hidden;}
.dis_hidden{display:none;}
.clear{clear:both;}
.float_left{float:left;}
.float_right{float:right;}
.rounded_corners{border-radius: 45px;-ms-border-radius: 45px;-moz-border-radius: 45px;-webkit-border-radius: 45px;-khtml-border-radius: 45px;}
.app_background{background:url('../images/webtop/app_int_black.png') transparent repeat;}
.screen100x100{width:100%;height:100%;}
/* platilla principal */
#browser_frame{width:100%;height:100%;}
/*#wallpaper_img{position:absolute;z-index:0;width:100%;top:26px;}*/
#wallpaper_img{position:absolute;z-index:0;width:100%;height:100%;top:0;}

#img_blocking
{
position:absolute;
z-index:1;
width:100%;
height:100%;
}

.main
{
position:absolute;
top:50%;
left:50%;
}

.darkness
{
filter:alpha(opacity=35);
opacity: 0.35;
-ms-opacity: 0.35;
-moz-opacity: 0.35;
-webkit-opacity: 0.35;
-khtml-opacity: 0.35;
}


#block-screen{width:100%;height:100%;z-index:9999;position:absolute;top:0;left:0;}
/* Loading block */
#loading{ width: 100%;height:100%;background-color:black;overflow-y:visible;overflow-x:hidden;position:absolute;top:0;z-index:2;
filter:alpha(opacity=70);
opacity: 0.81;
-ms-opacity: 0.81;
-moz-opacity: 0.81;
-webkit-opacity: 0.81;
-khtml-opacity: 0.81;}
/*
#loading p{display:inline;color:white;font-family:monospace;font-size:11px;}
#loading pre{display:block;position:relative;color:white;font-family:monospace;font-size:11px;left:-3px;}
#loading .loading_prompt{font-weight:bold;position:relative;left:4px;margin-right:4px;}
#loading_outer{padding:8px 0;}
#loading .loading_command{font-weight:normal;position:relative;left:3px;}
#loading .loading_output{display:block;position:relative;left:4px;}
#loading_cursor{position:relative;left:4px;top:2px;}
#loading_command0{left:8px;}
*/
.loading{ width: 100%;height:100%;background-color:black;overflow-y:visible;overflow-x:hidden;}
.loading p{display:inline;color:white;font-family:monospace;font-size:11px;}
.loading pre{display:block;position:relative;color:white;font-family:monospace;font-size:11px;left:-3px;}
.loading .loading_prompt{font-weight:bold;position:relative;left:4px;margin-right:4px;}
.loading_outer{padding:8px 0;}
.loading .loading_command{font-weight:normal;position:relative;left:3px;}
.loading .loading_output{display:block;position:relative;left:4px;}
.loading .loading_output a{ text-decoration: none; color: white; border-bottom: 1px dotted white;}
.loading .loading_output a:hover{ text-decoration: none; color: #eddfb6;}
.loading .loading_output_empty{display:block;position:relative;left:4px;margin-top:10px;}
.loading_cursor{position:relative;left:4px;top:2px;}
.loading_tab{position:relative;right:7px;}

.tab
{
display:table;
margin-left:-4px;
color:white;
font-family:monospace;
font-size:11px;
}

.tab td
{
disaplay:inline;
/*width:20%;*/
padding:0 15px;
text-align:justify;
}

.tab td a {

    text-decoration:none;color:#4aa3c4;font-weight:bold;
}

/*
<table class="tab"><tr><td><p class="loading_tab">></p>home</td><td>root</td><td>root</td><td>drwxr-xr-x</td></tr><tr><td><p class="loading_tab">></p>bin</td><td>root</td><td>root</td><td>drwxr-xr-x</td></tr><tr><td><p class="loading_tab">></p>sbin</td><td>root</td><td>admin</td><td>drwxr-x---</td></tr><tr><td><p class="loading_tab">></p>etc</td><td>root</td><td>root</td><td>drwxr-x---</td></tr></table>
*/
