{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "development": {},
    "production": {
      "only": ["src"],
      "plugins": []
    },
    "test": {}
  }
}
